
Series/Series.xcodeproj/project.xcworkspace/xcuserdata/josemendez.xcuserdatad/UserInterfaceState.xcuserstate
Series/Pods
Series/Series.xcodeproj/xcuserdata/josemendez.xcuserdatad/xcschemes/xcschememanagement.plist
Series/Series.xcworkspace/contents.xcworkspacedata
Series/Series.xcodeproj/xcuserdata/josemendez.xcuserdatad/xcschemes/xcschememanagement.plist
Series/Series.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Series/Series.xcworkspace/xcuserdata/josemendez.xcuserdatad/UserInterfaceState.xcuserstate
Series/Series.xcworkspace/xcuserdata/josemendez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
